<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitivity.tenktraining" >

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WorkoutMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SpeedCalculationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".OnePartActivity"
            android:label="@string/title_activity_one_part" >
        </activity>
        <activity
            android:name=".TwoPartActivity"
            android:label="@string/title_activity_two_part" >
        </activity>
        <activity
            android:name=".ThreePartActivity"
            android:label="@string/title_activity_three_part" >
        </activity>
        <activity
            android:name=".FourPartActivity"
            android:label="@string/title_activity_four_part" >
        </activity>
        <activity
            android:name=".FivePartActivity"
            android:label="@string/title_activity_five_part" >
        </activity>
        <activity
            android:name=".SixPartActivity"
            android:label="@string/title_activity_six_part" >
        </activity>
        <activity
            android:name=".SevenPartActivity"
            android:label="@string/title_activity_seven_part" >
        </activity>
        <activity
            android:name=".EightPartActivity"
            android:label="@string/title_activity_eight_part" >
        </activity>
        <activity
            android:name=".NinePartActivity"
            android:label="@string/title_activity_nine_part" >
        </activity>
        <activity
            android:name=".TenPartActivity"
            android:label="@string/title_activity_ten_part" >
        </activity>
        <activity
            android:name=".ElevenPartActivity"
            android:label="@string/title_activity_eleven_part" >
        </activity>
        <activity
            android:name=".TwelvePartActivity"
            android:label="@string/title_activity_twelve_part" >
        </activity>
        <activity
            android:name=".ThirteenPartActivity"
            android:label="@string/title_activity_thirteen_part" >
        </activity>
        <activity
            android:name=".FourteenPartActivity"
            android:label="@string/title_activity_fourteen_part" >
        </activity>
        <activity
            android:name=".Workout_1_1"
            android:label="@string/title_activity_workout_1_1" >
        </activity>
        <activity
            android:name=".Workout_1_2"
            android:label="@string/title_activity_workout_1_2" >
        </activity>
        <activity
            android:name=".Workout_1_3"
            android:label="@string/title_activity_workout_1_3" >
        </activity>
        <activity
            android:name=".Workout_1_4"
            android:label="@string/title_activity_workout_1_4" >
        </activity>
        <activity
            android:name=".Workout_1_5"
            android:label="@string/title_activity_workout_1_5" >
        </activity>
        <activity
            android:name=".Workout_1_6"
            android:label="@string/title_activity_workout_1_6" >
        </activity>
        <activity
            android:name=".Workout_1_7"
            android:label="@string/title_activity_workout_1_7" >
        </activity>
        <activity
            android:name=".RestDayActivity"
            android:label="@string/title_activity_rest_day" >
        </activity>
        <activity
            android:name=".Workout_2_2"
            android:label="@string/title_activity_workout_2_2" >
        </activity>
        <activity
            android:name=".Workout_2_3"
            android:label="@string/title_activity_workout_2_3" >
        </activity>
        <activity
            android:name=".Workout_2_4"
            android:label="@string/title_activity_workout_2_4" >
        </activity>
        <activity
            android:name=".Workout_2_5"
            android:label="@string/title_activity_workout_2_5" >
        </activity>
        <activity
            android:name=".Workout_2_6"
            android:label="@string/title_activity_workout_2_6" >
        </activity>
        <activity
            android:name=".Workout_2_7"
            android:label="@string/title_activity_workout_2_7" >
        </activity>
        <activity
            android:name=".Workout_3_2"
            android:label="@string/title_activity_workout_3_2" >
        </activity>
        <activity
            android:name=".Workout_3_3"
            android:label="@string/title_activity_workout_3_3" >
        </activity>
        <activity
            android:name=".Workout_3_4"
            android:label="@string/title_activity_workout_3_4" >
        </activity>
        <activity
            android:name=".Workout_3_5"
            android:label="@string/title_activity_workout_3_5" >
        </activity>
        <activity
            android:name=".Workout_3_7"
            android:label="@string/title_activity_workout_3_7" >
        </activity>
        <activity
            android:name=".Workout_4_2"
            android:label="@string/title_activity_workout_4_2" >
        </activity>
        <activity
            android:name=".Workout_4_3"
            android:label="@string/title_activity_workout_4_3" >
        </activity>
        <activity
            android:name=".Workout_4_4"
            android:label="@string/title_activity_workout_4_4" >
        </activity>
        <activity
            android:name=".Workout_4_5"
            android:label="@string/title_activity_workout_4_5" >
        </activity>
        <activity
            android:name=".Workout_4_7"
            android:label="@string/title_activity_workout_4_7" >
        </activity>
        <activity
            android:name=".Workout_5_2"
            android:label="@string/title_activity_workout_5_2" >
        </activity>
        <activity
            android:name=".Workout_5_4"
            android:label="@string/title_activity_workout_5_4" >
        </activity>
        <activity
            android:name=".Workout_5_5"
            android:label="@string/title_activity_workout_5_5" >
        </activity>
        <activity
            android:name=".Workout_5_7"
            android:label="@string/title_activity_workout_5_7" >
        </activity>
        <activity
            android:name=".Workout_6_2"
            android:label="@string/title_activity_workout_6_2" >
        </activity>
        <activity
            android:name=".Workout_6_3"
            android:label="@string/title_activity_workout_6_3" >
        </activity>
        <activity
            android:name=".Workout_6_4"
            android:label="@string/title_activity_workout_6_4" >
        </activity>
        <activity
            android:name=".Workout_6_5"
            android:label="@string/title_activity_workout_6_5" >
        </activity>
        <activity
            android:name=".Workout_6_7"
            android:label="@string/title_activity_workout_6_7" >
        </activity>
        <activity
            android:name=".Workout_7_3"
            android:label="@string/title_activity_workout_7_3" >
        </activity>
        <activity
            android:name=".Workout_7_5"
            android:label="@string/title_activity_workout_7_5" >
        </activity>
        <activity
            android:name=".Workout_7_7"
            android:label="@string/title_activity_workout_7_7" >
        </activity>
        <activity
            android:name=".Workout_8_2"
            android:label="@string/title_activity_workout_8_2" >
        </activity>
        <activity
            android:name=".Workout_8_3"
            android:label="@string/title_activity_workout_8_3" >
        </activity>
        <activity
            android:name=".Workout_8_5"
            android:label="@string/title_activity_workout_8_5" >
        </activity>
        <activity
            android:name=".Workout_8_7"
            android:label="@string/title_activity_workout_8_7" >
        </activity>
        <activity
            android:name=".Workout_9_2"
            android:label="@string/title_activity_workout_9_2" >
        </activity>
        <activity
            android:name=".Workout_9_3"
            android:label="@string/title_activity_workout_9_3" >
        </activity>
        <activity
            android:name=".FifteenPartActivity"
            android:label="@string/title_activity_fifteen_part" >
        </activity>
        <activity
            android:name=".Workout_9_4"
            android:label="@string/title_activity_workout_9_4" >
        </activity>
        <activity
            android:name=".Workout_9_5"
            android:label="@string/title_activity_workout_9_5" >
        </activity>
        <activity
            android:name=".Workout_9_7"
            android:label="@string/title_activity_workout_9_7" >
        </activity>
        <activity
            android:name=".Workout_10_2"
            android:label="@string/title_activity_workout_10_2" >
        </activity>
        <activity
            android:name=".Workout_10_3"
            android:label="@string/title_activity_workout_10_3" >
        </activity>
        <activity
            android:name=".Workout_10_5"
            android:label="@string/title_activity_workout_10_5" >
        </activity>
        <activity
            android:name=".Workout_10_7"
            android:label="@string/title_activity_workout_10_7" >
        </activity>
        <activity
            android:name=".Workout_11_3"
            android:label="@string/title_activity_workout_11_3" >
        </activity>
        <activity
            android:name=".Workout_11_5"
            android:label="@string/title_activity_workout_11_5" >
        </activity>
        <activity
            android:name=".Workout_11_7"
            android:label="@string/title_activity_workout_11_7" >
        </activity>
        <activity
            android:name=".Workout_12_3"
            android:label="@string/title_activity_workout_12_3" >
        </activity>
        <activity
            android:name=".Workout_12_4"
            android:label="@string/title_activity_workout_12_4" >
        </activity>
        <activity
            android:name=".RaceDayActivity"
            android:label="@string/title_activity_race_day" >
        </activity>
        <activity
            android:name=".Beg_1_1"
            android:label="@string/title_activity_beg_1_1" >
        </activity>
        <activity
            android:name=".Beg_1_2"
            android:label="@string/title_activity_beg_1_2" >
        </activity>
        <activity
            android:name=".Beg_1_3"
            android:label="@string/title_activity_beg_1_3" >
        </activity>
        <activity
            android:name=".Beg_1_4"
            android:label="@string/title_activity_beg_1_4" >
        </activity>
        <activity
            android:name=".Beg_1_5"
            android:label="@string/title_activity_beg_1_5" >
        </activity>
        <activity
            android:name=".Beg_1_6"
            android:label="@string/title_activity_beg_1_6" >
        </activity>
        <activity
            android:name=".Beg_1_7"
            android:label="@string/title_activity_beg_1_7" >
        </activity>
        <activity
            android:name=".Beg_2_2"
            android:label="@string/title_activity_beg_2_2" >
        </activity>
        <activity
            android:name=".Beg_2_3"
            android:label="@string/title_activity_beg_2_3" >
        </activity>
        <activity
            android:name=".Beg_2_4"
            android:label="@string/title_activity_beg_2_4" >
        </activity>
        <activity
            android:name=".Beg_2_5"
            android:label="@string/title_activity_beg_2_5" >
        </activity>
        <activity
            android:name=".Beg_2_6"
            android:label="@string/title_activity_beg_2_6" >
        </activity>
        <activity
            android:name=".Beg_2_7"
            android:label="@string/title_activity_beg_2_7" >
        </activity>
        <activity
            android:name=".Beg_3_1"
            android:label="@string/title_activity_beg_3_1" >
        </activity>
        <activity
            android:name=".Beg_3_2"
            android:label="@string/title_activity_beg_3_2" >
        </activity>
        <activity
            android:name=".Beg_3_3"
            android:label="@string/title_activity_beg_3_3" >
        </activity>
        <activity
            android:name=".Beg_3_4"
            android:label="@string/title_activity_beg_3_4" >
        </activity>
        <activity
            android:name=".Beg_3_5"
            android:label="@string/title_activity_beg_3_5" >
        </activity>
        <activity
            android:name=".Beg_3_6"
            android:label="@string/title_activity_beg_3_6" >
        </activity>
        <activity
            android:name=".Beg_3_7"
            android:label="@string/title_activity_beg_3_7" >
        </activity>
        <activity
            android:name=".Beg_4_2"
            android:label="@string/title_activity_beg_4_2" >
        </activity>
        <activity
            android:name=".Beg_4_3"
            android:label="@string/title_activity_beg_4_3" >
        </activity>
        <activity
            android:name=".Beg_4_4"
            android:label="@string/title_activity_beg_4_4" >
        </activity>
        <activity
            android:name=".Beg_4_5"
            android:label="@string/title_activity_beg_4_5" >
        </activity>
        <activity
            android:name=".Beg_4_7"
            android:label="@string/title_activity_beg_4_7" >
        </activity>
        <activity
            android:name=".Beg_5_2"
            android:label="@string/title_activity_beg_5_2" >
        </activity>
        <activity
            android:name=".Beg_5_3"
            android:label="@string/title_activity_beg_5_3" >
        </activity>
        <activity
            android:name=".Beg_5_4"
            android:label="@string/title_activity_beg_5_4" >
        </activity>
        <activity
            android:name=".Beg_5_5"
            android:label="@string/title_activity_beg_5_5" >
        </activity>
        <activity
            android:name=".Beg_5_7"
            android:label="@string/title_activity_beg_5_7" >
        </activity>
        <activity
            android:name=".Beg_6_2"
            android:label="@string/title_activity_beg_6_2" >
        </activity>
        <activity
            android:name=".Beg_6_3"
            android:label="@string/title_activity_beg_6_3" >
        </activity>
        <activity
            android:name=".Beg_6_4"
            android:label="@string/title_activity_beg_6_4" >
        </activity>
        <activity
            android:name=".Beg_6_5"
            android:label="@string/title_activity_beg_6_5" >
        </activity>
        <activity
            android:name=".Beg_6_7"
            android:label="@string/title_activity_beg_6_7" >
        </activity>
        <activity
            android:name=".Beg_7_2"
            android:label="@string/title_activity_beg_7_2" >
        </activity>
        <activity
            android:name=".Beg_7_3"
            android:label="@string/title_activity_beg_7_3" >
        </activity>
        <activity
            android:name=".Beg_7_4"
            android:label="@string/title_activity_beg_7_4" >
        </activity>
        <activity
            android:name=".Beg_7_5"
            android:label="@string/title_activity_beg_7_5" >
        </activity>
        <activity
            android:name=".Beg_7_7"
            android:label="@string/title_activity_beg_7_7" >
        </activity>
        <activity
            android:name=".Beg_8_2"
            android:label="@string/title_activity_beg_8_2" >
        </activity>
        <activity
            android:name=".Beg_8_4"
            android:label="@string/title_activity_beg_8_4" >
        </activity>
        <activity
            android:name=".Beg_8_5"
            android:label="@string/title_activity_beg_8_5" >
        </activity>
        <activity
            android:name=".Beg_8_7"
            android:label="@string/title_activity_beg_8_7" >
        </activity>
        <activity
            android:name=".Beg_9_2"
            android:label="@string/title_activity_beg_9_2" >
        </activity>
        <activity
            android:name=".Beg_9_4"
            android:label="@string/title_activity_beg_9_4" >
        </activity>
        <activity
            android:name=".Beg_9_5"
            android:label="@string/title_activity_beg_9_5" >
        </activity>
        <activity
            android:name=".Beg_9_7"
            android:label="@string/title_activity_beg_9_7" >
        </activity>
        <activity
            android:name=".Beg_10_2"
            android:label="@string/title_activity_beg_10_2" >
        </activity>
        <activity
            android:name=".Beg_10_3"
            android:label="@string/title_activity_beg_10_3" >
        </activity>
        <activity
            android:name=".Beg_10_5"
            android:label="@string/title_activity_beg_10_5" >
        </activity>
        <activity
            android:name=".Beg_10_7"
            android:label="@string/title_activity_beg_10_7" >
        </activity>
        <activity
            android:name=".Beg_11_2"
            android:label="@string/title_activity_beg_11_2" >
        </activity>
        <activity
            android:name=".Beg_11_4"
            android:label="@string/title_activity_beg_11_4" >
        </activity>
        <activity
            android:name=".Beg_11_5"
            android:label="@string/title_activity_beg_11_5" >
        </activity>
        <activity
            android:name=".Beg_11_7"
            android:label="@string/title_activity_beg_11_7" >
        </activity>
        <activity
            android:name=".Beg_12_2"
            android:label="@string/title_activity_beg_12_2" >
        </activity>
        <activity
            android:name=".Beg_12_3"
            android:label="@string/title_activity_beg_12_3" >
        </activity>
        <activity
            android:name=".Beg_12_4"
            android:label="@string/title_activity_beg_12_4" >
        </activity>
        <activity
            android:name=".Com_1_1"
            android:label="@string/title_activity_com_1_1" >
        </activity>
        <activity
            android:name=".Com_1_2"
            android:label="@string/title_activity_com_1_2" >
        </activity>
        <activity
            android:name=".Com_1_3"
            android:label="@string/title_activity_com_1_3" >
        </activity>
        <activity
            android:name=".Com_1_4"
            android:label="@string/title_activity_com_1_4" >
        </activity>
        <activity
            android:name=".Com_1_5"
            android:label="@string/title_activity_com_1_5" >
        </activity>
        <activity
            android:name=".Com_1_7"
            android:label="@string/title_activity_com_1_7" >
        </activity>
        <activity
            android:name=".Com_2_2"
            android:label="@string/title_activity_com_2_2" >
        </activity>
        <activity
            android:name=".Com_2_3"
            android:label="@string/title_activity_com_2_3" >
        </activity>
        <activity
            android:name=".Com_2_4"
            android:label="@string/title_activity_com_2_4" >
        </activity>
        <activity
            android:name=".Com_2_5"
            android:label="@string/title_activity_com_2_5" >
        </activity>
        <activity
            android:name=".Com_2_7"
            android:label="@string/title_activity_com_2_7" >
        </activity>
        <activity
            android:name=".Com_3_2"
            android:label="@string/title_activity_com_3_2" >
        </activity>
        <activity
            android:name=".Com_3_3"
            android:label="@string/title_activity_com_3_3" >
        </activity>
        <activity
            android:name=".Com_3_4"
            android:label="@string/title_activity_com_3_4" >
        </activity>
        <activity
            android:name=".Com_3_5"
            android:label="@string/title_activity_com_3_5" >
        </activity>
        <activity
            android:name=".Com_3_7"
            android:label="@string/title_activity_com_3_7" >
        </activity>
        <activity
            android:name=".Com_4_2"
            android:label="@string/title_activity_com_4_2" >
        </activity>
        <activity
            android:name=".Com_4_3"
            android:label="@string/title_activity_com_4_3" >
        </activity>
        <activity
            android:name=".Com_4_5"
            android:label="@string/title_activity_com_4_5" >
        </activity>
        <activity
            android:name=".Com_4_6"
            android:label="@string/title_activity_com_4_6" >
        </activity>
        <activity
            android:name=".Com_4_7"
            android:label="@string/title_activity_com_4_7" >
        </activity>
        <activity
            android:name=".Com_5_2"
            android:label="@string/title_activity_com_5_2" >
        </activity>
        <activity
            android:name=".Com_5_3"
            android:label="@string/title_activity_com_5_3" >
        </activity>
        <activity
            android:name=".Com_5_4"
            android:label="@string/title_activity_com_5_4" >
        </activity>
        <activity
            android:name=".Com_5_5"
            android:label="@string/title_activity_com_5_5" >
        </activity>
        <activity
            android:name=".Com_5_7"
            android:label="@string/title_activity_com_5_7" >
        </activity>
        <activity
            android:name=".Com_6_2"
            android:label="@string/title_activity_com_6_2" >
        </activity>
        <activity
            android:name=".Com_6_3"
            android:label="@string/title_activity_com_6_3" >
        </activity>
        <activity
            android:name=".Com_6_4"
            android:label="@string/title_activity_com_6_4" >
        </activity>
        <activity
            android:name=".Com_6_6"
            android:label="@string/title_activity_com_6_6" >
        </activity>
        <activity
            android:name=".Com_6_7"
            android:label="@string/title_activity_com_6_7" >
        </activity>
        <activity
            android:name=".Com_7_2"
            android:label="@string/title_activity_com_7_2" >
        </activity>
        <activity
            android:name=".Com_7_3"
            android:label="@string/title_activity_com_7_3" >
        </activity>
        <activity
            android:name=".Com_7_5"
            android:label="@string/title_activity_com_7_5" >
        </activity>
        <activity
            android:name=".Com_7_7"
            android:label="@string/title_activity_com_7_7" >
        </activity>
        <activity
            android:name=".Com_8_2"
            android:label="@string/title_activity_com_8_2" >
        </activity>
        <activity
            android:name=".Com_8_3"
            android:label="@string/title_activity_com_8_3" >
        </activity>
        <activity
            android:name=".Com_8_4"
            android:label="@string/title_activity_com_8_4" >
        </activity>
        <activity
            android:name=".Com_8_5"
            android:label="@string/title_activity_com_8_5" >
        </activity>
        <activity
            android:name=".Com_8_7"
            android:label="@string/title_activity_com_8_7" >
        </activity>
        <activity
            android:name=".Com_9_2"
            android:label="@string/title_activity_com_9_2" >
        </activity>
        <activity
            android:name=".Com_9_4"
            android:label="@string/title_activity_com_9_4" >
        </activity>
        <activity
            android:name=".Com_9_7"
            android:label="@string/title_activity_com_9_7" >
        </activity>
        <activity
            android:name=".Com_10_3"
            android:label="@string/title_activity_com_10_3" >
        </activity>
        <activity
            android:name=".Com_10_4"
            android:label="@string/title_activity_com_10_4" >
        </activity>
        <activity
            android:name=".Adv_1_1"
            android:label="@string/title_activity_adv_1_1" >
        </activity>
        <activity
            android:name=".Adv_1_2"
            android:label="@string/title_activity_adv_1_2" >
        </activity>
        <activity
            android:name=".Adv_1_3"
            android:label="@string/title_activity_adv_1_3" >
        </activity>
        <activity
            android:name=".Adv_1_4"
            android:label="@string/title_activity_adv_1_4" >
        </activity>
        <activity
            android:name=".Adv_1_5"
            android:label="@string/title_activity_adv_1_5" >
        </activity>
        <activity
            android:name=".Adv_1_7"
            android:label="@string/title_activity_adv_1_7" >
        </activity>
        <activity
            android:name=".Adv_2_2"
            android:label="@string/title_activity_adv_2_2" >
        </activity>
        <activity
            android:name=".Adv_2_3"
            android:label="@string/title_activity_adv_2_3" >
        </activity>
        <activity
            android:name=".Adv_2_4"
            android:label="@string/title_activity_adv_2_4" >
        </activity>
        <activity
            android:name=".Adv_2_5"
            android:label="@string/title_activity_adv_2_5" >
        </activity>
        <activity
            android:name=".Adv_2_7"
            android:label="@string/title_activity_adv_2_7" >
        </activity>
        <activity
            android:name=".Adv_3_2"
            android:label="@string/title_activity_adv_3_2" >
        </activity>
        <activity
            android:name=".Adv_3_3"
            android:label="@string/title_activity_adv_3_3" >
        </activity>
        <activity
            android:name=".Adv_3_4"
            android:label="@string/title_activity_adv_3_4" >
        </activity>
        <activity
            android:name=".Adv_3_5"
            android:label="@string/title_activity_adv_3_5" >
        </activity>
        <activity
            android:name=".Adv_3_7"
            android:label="@string/title_activity_adv_3_7" >
        </activity>
        <activity
            android:name=".Adv_4_2"
            android:label="@string/title_activity_adv_4_2" >
        </activity>
        <activity
            android:name=".Adv_4_3"
            android:label="@string/title_activity_adv_4_3" >
        </activity>
        <activity
            android:name=".Adv_4_4"
            android:label="@string/title_activity_adv_4_4" >
        </activity>
        <activity
            android:name=".Adv_4_5"
            android:label="@string/title_activity_adv_4_5" >
        </activity>
        <activity
            android:name=".Adv_4_7"
            android:label="@string/title_activity_adv_4_7" >
        </activity>
        <activity
            android:name=".Adv_5_2"
            android:label="@string/title_activity_adv_5_2" >
        </activity>
        <activity
            android:name=".Adv_5_3"
            android:label="@string/title_activity_adv_5_3" >
        </activity>
        <activity
            android:name=".Adv_5_4"
            android:label="@string/title_activity_adv_5_4" >
        </activity>
        <activity
            android:name=".Adv_5_5"
            android:label="@string/title_activity_adv_5_5" >
        </activity>
        <activity
            android:name=".Adv_5_7"
            android:label="@string/title_activity_adv_5_7" >
        </activity>
        <activity
            android:name=".Adv_6_2"
            android:label="@string/title_activity_adv_6_2" >
        </activity>
        <activity
            android:name=".Adv_6_3"
            android:label="@string/title_activity_adv_6_3" >
        </activity>
        <activity
            android:name=".Adv_6_4"
            android:label="@string/title_activity_adv_6_4" >
        </activity>
        <activity
            android:name=".Adv_6_5"
            android:label="@string/title_activity_adv_6_5" >
        </activity>
        <activity
            android:name=".Adv_6_7"
            android:label="@string/title_activity_adv_6_7" >
        </activity>
        <activity
            android:name=".Adv_7_2"
            android:label="@string/title_activity_adv_7_2" >
        </activity>
        <activity
            android:name=".Adv_7_3"
            android:label="@string/title_activity_adv_7_3" >
        </activity>
        <activity
            android:name=".Adv_7_5"
            android:label="@string/title_activity_adv_7_5" >
        </activity>
        <activity
            android:name=".Adv_7_7"
            android:label="@string/title_activity_adv_7_7" >
        </activity>
        <activity
            android:name=".Adv_8_2"
            android:label="@string/title_activity_adv_8_2" >
        </activity>
        <activity
            android:name=".Adv_8_3"
            android:label="@string/title_activity_adv_8_3" >
        </activity>
        <activity
            android:name=".Adv_8_4"
            android:label="@string/title_activity_adv_8_4" >
        </activity>
        <activity
            android:name=".Adv_8_7"
            android:label="@string/title_activity_adv_8_7" >
        </activity>
        <activity
            android:name=".Adv_9_2"
            android:label="@string/title_activity_adv_9_2" >
        </activity>
        <activity
            android:name=".Adv_9_4"
            android:label="@string/title_activity_adv_9_4" >
        </activity>
        <activity
            android:name=".Adv_9_5"
            android:label="@string/title_activity_adv_9_5" >
        </activity>
        <activity
            android:name=".Adv_9_7"
            android:label="@string/title_activity_adv_9_7" >
        </activity>
        <activity
            android:name=".Adv_10_2"
            android:label="@string/title_activity_adv_10_2" >
        </activity>
        <activity
            android:name=".Adv_10_3"
            android:label="@string/title_activity_adv_10_3" >
        </activity>
    </application>

</manifest>
